<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
        </div>
    </div>
</div>

<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>Components</h1>
        <p class="lead">Dozens of reusable components built to provide navigation, alerts, popovers, and more.</p>
    </div>
</header>

<h1>{{name}} Components</h1>

Reset component demo
<br />

<reset-component [(counter)]="counterValue" (counterChange)="onCounterChanged($event)"></reset-component>
<br/>

<form>

    Input control Required<br/>
    <input-component [value]="inputTextValue" [isRequired]="true" (onModelChanged)="modelChanged($event)"></input-component>

    <br/>Input control Optional<br/>
    <input-component [value]="inputTextValue" [isRequired]="false" (onModelChanged)="modelChanged($event)">
    </input-component>

<form role="form"> 
  <div class="form-group has-feedback">
    <label class="control-label">Username</label>
    <input type="text" class="form-control" placeholder="Username" />
    <i class="form-control-feedback glyphicon glyphicon-user"></i>
  </div>
</form>


</form>