<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="./index.html"></a>
        </div>
    </div>
</div>

<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>Components</h1>
        <p class="lead">Dozens of reusable components built to provide navigation, alerts, popovers, and more.</p>
    </div>
</header>


<div class="container" role="main">

    <h1>{{name}} Components</h1>
    <div class="componentInfo">
        Reset component - Increment and decrement value of a controls
        <div>
            <reset-component [(counter)]="counterValue" (counterChange)="onCounterChanged($event)"></reset-component>
        </div>
    </div>

    <form>

        <div class="componentInfo">
            A simple input control which uses AngularJs invalid to validate and change the textbox stlye to indicate error. Try removing
            all the text and see what happens.
            <div>
                <input-component [value]="inputTextValue" [inputDisplayType]="'simpleText'" [isRequired]="true" (onModelChanged)="modelChanged($event)"></input-component>
            </div>
        </div>

        <div class="componentInfo">
            Simple text that allows text to be empty.
            <div>
                <input-component [value]="inputTextValue" [inputDisplayType]="'simpleText'" [isRequired]="false" (onModelChanged)="modelChanged($event)">
                </input-component>
            </div>
        </div>

        <div class="componentInfo">

            Input that uses glyphicon to indicate if an input is incorrect. Try removing all text, you can see text input icon changes
            too.
            <div>
                <input-component [value]="inputTextValue" [inputDisplayType]="'iconText'" [isRequired]="true" (onModelChanged)="modelChanged($event)">
                </input-component>
            </div>
        </div>

        <div class="componentInfo">
            This icon text input allows text to be empty. It will not show any error.
            <div>
                <input-component [value]="inputTextValue" [inputDisplayType]="'iconText'" [isRequired]="true" (onModelChanged)="modelChanged($event)">
                </input-component>
            </div>
        </div>

        <div class="componentInfo">
            A group button that toggles state whenever it is clicked. This allow selection of either one values.

            <div>
                <button-state (onModelChanged)="modelChanged($event)">
                </button-state>
            </div>
        </div>

    </form>

</div>