<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="./index.html">Appcore</a>
        </div>
    </div>
</div>

<header class="jumbotron subhead" id="overview">
    <div class="container">
        <h1>Components</h1>
        <p class="lead">Dozens of reusable components built to provide navigation, alerts, popovers, and more.</p>
    </div>
</header>

<h1>{{name}} Components</h1>

Reset component demo
<br />

<reset-component [(counter)]="counterValue" (counterChange)="onCounterChanged($event)"></reset-component>
<br/>

<form>

    Input control Required<br/>
    <input-component [value]="inputTextValue" [inputDisplayType]="'simpleText'" [isRequired]="true" (onModelChanged)="modelChanged($event)"></input-component>

    <br/>Input control Optional<br/>
    <input-component [value]="inputTextValue" [inputDisplayType]="'simpleText'" [isRequired]="false" (onModelChanged)="modelChanged($event)">
    </input-component>

    <br/>Required Icon Input control <br/>

    <input-component [value]="inputTextValue" [inputDisplayType]="'iconText'" [isRequired]="true" (onModelChanged)="modelChanged($event)">
    </input-component>

    <br/>Optional Icon Input control <br/>

    <input-component [value]="inputTextValue" [inputDisplayType]="'iconText'" [isRequired]="true" (onModelChanged)="modelChanged($event)">
    </input-component>


    <button-state (onModelChanged)="modelChanged($event)">
    </button-state>

    
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

</form>